<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Familia Vazquez </title>

    <h1> Bienvenidos a la lista de mis Familiares </h1>
    <p style="color:rebeccapurple"> Aqui podran ver algunos de 
        los integrantes de mi familia </p>    

    <img 
    style="max-width: 300px;"
    src="https://i.pinimg.com/736x/eb/57/1e/eb571ea6595e944bc260812d0a737563.jpg" alt=""/>   

</head>
<body>
    
</body>
</html>